* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* 头部 */
iframe {
  display: block;
}
/* 焦点图 */
.focus {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  background: url(../../img/original.jpg) no-repeat center top;
}
.focus > div {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  box-sizing: border-box;
}
.focus > div > div {
  width: 35%;
  height: 85%;
  text-align: right;
  color: #fff;
  transform: translate(800px, -800px);
  animation: rotateln 1s ease both;
}
@keyframes rotateln {
  0% {
    transform: translate(800px, -800px);
  }
  100% {
    transform: translate(0);
  }
}
.focus > div > div > h2 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
}
.focus > div > div > p:nth-of-type(1) {
  margin-bottom: 20px;
}
.focus > div > div > p:nth-of-type(1) > span {
  height: 35px;
  line-height: 35px;
  display: inline-block;
  color: white;
  box-sizing: border-box;
  text-align: center;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.focus > div > div > p:nth-of-type(1) > span:nth-of-type(1) {
  width: 30%;
}
.focus > div > div > p:nth-of-type(1) > span:nth-of-type(2) {
  width: 18%;
}
.focus > div > div > p:nth-of-type(1) > span:nth-of-type(3) {
  width: 15%;
}
.focus > div > div > p:nth-of-type(2) {
  font-size: 18px;
  margin-bottom: 20px;
}
.focus > div > div .ac {
  background-color: grey !important;
}
.focus > div > div > p:nth-of-type(3) {
  width: 70%;
  height: 48px;
  background-color: #fe5341;
  float: right;
  text-align: center;
  line-height: 48px;
  border-radius: 4px;
}
.focus > div > div > p:nth-of-type(3) > a {
  font-size: 24px;
  color: #fff;
}
/* 热门试用 */
.hotbox {
  width: 70%;
  margin: 0 auto;
}
.hotbox .title {
  width: 100%;
  height: 66px;
  font-size: 20px;
  line-height: 66px;
  color: #474747;
  font-weight: bold;
}
.hotbox > div:nth-of-type(2) {
  width: 100%;
  height: 300px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
.hotbox > div:nth-of-type(2) .swiper {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}
.hotbox > div:nth-of-type(2) .swiper .sslide {
  width: 22%;
  height: 285px;
  float: left;
  margin-right: 25px;
  border: 1px solid #e6e9e9;
  border-radius: 6px;
  box-sizing: border-box;
}
@keyframes lun {
  100% {
    opacity: 0.8;
  }
}
.hotbox > div:nth-of-type(2) .swiper .sslide:hover .hot {
  animation: lun 0.8s ease infinite;
}
.hotbox > div:nth-of-type(2) .swiper .sslide > a {
  width: 100%;
  display: block;
  position: relative;
}
.hotbox > div:nth-of-type(2) .swiper .sslide > a > span {
  line-height: 22px;
  padding: 0 8px;
  border-radius: 0 0 0 6px;
  position: absolute;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  background-color: #fe5341;
  color: #f5e8e8;
  font-size: 14px;
  z-index: 10;
}
.hotbox > div:nth-of-type(2) .swiper .sslide > a > img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.hotbox > div:nth-of-type(2) .swiper .sslide > div {
  width: 100%;
  text-align: center;
}
.hotbox > div:nth-of-type(2) .swiper .sslide > div > h2 {
  font-size: 16px;
  font-weight: bold;
  height: 48px;
}
.hotbox > div:nth-of-type(2) .swiper .sslide > div > p {
  margin-bottom: 10px;
  color: #fe5341;
}
.hotbox > div:nth-of-type(2) .swiper .sslide > div > p:nth-of-type(1) > span {
  display: inline-block;
  padding: 2px 10px;
  margin: 0 5px;
  border: 1px solid #fe5341;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 12px;
}
.hotbox > div:nth-of-type(2) .swiper .sslide > div > p:nth-of-type(2) > span:nth-of-type(2) {
  color: #474747;
}
.title {
  width: 100%;
  height: 66px;
  font-size: 20px;
  line-height: 66px;
  color: #474747;
  font-weight: bold;
}
/* 报告精选 */
.reportbox {
  width: 100%;
  height: 570px;
  background: #f7f7f7;
}
.reportbox .repbox {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
.reportbox .repbox > div:nth-of-type(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reportbox .repbox > div:nth-of-type(2) > div {
  width: 22%;
  height: 230px;
  margin-bottom: 20px;
  border: 1px solid #e6e9e9;
  border-radius: 6px;
  box-sizing: border-box;
}
@keyframes fr {
  100% {
    opacity: 0.8;
  }
}
.reportbox .repbox > div:nth-of-type(2) > div:hover .re {
  animation: fr 0.8s ease infinite;
}
.reportbox .repbox > div:nth-of-type(2) > div > a > img {
  width: 100%;
}
.reportbox .repbox > div:nth-of-type(2) > div > div {
  font-size: 14px;
  height: 45px;
}
.reportbox .repbox > div:nth-of-type(2) > div > div > p:nth-of-type(2) {
  font-size: 12px;
  color: #a3a3a3;
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
.reportbox .repbox > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(1) {
  line-height: 48px;
}
.reportbox .repbox > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(2),
.reportbox .repbox > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(3) {
  display: block;
  width: 25px;
  height: 25px;
  float: right;
  text-align: right;
  line-height: 25px;
  margin-top: 10px;
  background-color: salmon;
}
.reportbox .repbox > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(2) {
  background: url(../../img/reply.png) no-repeat 4px 6px;
}
.reportbox .repbox > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(3) {
  background: url(../../img/zan.png) no-repeat 4px 6px;
}
.more {
  display: block;
  font-size: 14px;
  color: #fe5341;
  font-weight: normal;
  float: right;
  padding-right: 17px;
  background: url(../../img/readMore.png) no-repeat 58px 27px;
}
/* 导购精选 */
.guidecommon {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.guidecommon > div:nth-of-type(2) {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.guidecommon > div:nth-of-type(2) > div {
  width: 22%;
  height: 230px;
  margin-bottom: 20px;
  border: 1px solid #e6e9e9;
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
}
.guidecommon > div:nth-of-type(2) > div > img {
  width: 205px;
  position: absolute;
  left: 0px;
  bottom: -10px;
}
@keyframes fr {
  100% {
    opacity: 0.8;
  }
}
.guidecommon > div:nth-of-type(2) > div:hover .re {
  animation: fr 0.8s ease infinite;
}
.guidecommon > div:nth-of-type(2) > div > a > img {
  width: 100%;
}
.guidecommon > div:nth-of-type(2) > div > div {
  font-size: 14px;
  height: 45px;
}
.guidecommon > div:nth-of-type(2) > div > div > p:nth-of-type(2) {
  font-size: 12px;
  color: #a3a3a3;
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
.guidecommon > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(1) {
  line-height: 48px;
}
.guidecommon > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(2),
.guidecommon > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(3) {
  display: block;
  width: 25px;
  height: 25px;
  float: right;
  text-align: right;
  line-height: 25px;
  margin-top: 10px;
}
.guidecommon > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(2) {
  background: url(../../img/reply.png) no-repeat 4px 6px;
}
.guidecommon > div:nth-of-type(2) > div > div > p:nth-of-type(2) > span:nth-of-type(3) {
  background: url(../../img/xin.png) no-repeat 4px 6px;
}
/* 发现酷玩 */
.findplay {
  width: 100%;
  background: #f7f7f7;
  margin-bottom: 30px;
}
.findplay .fplay {
  width: 70%;
  margin: 0 auto;
}
.findplay .fplay > div:nth-of-type(2) > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.findplay .fplay > div:nth-of-type(2) > div > div {
  width: 22%;
  height: 230px;
  margin-bottom: 20px;
  border: 1px solid #e6e9e9;
  border-radius: 6px;
  box-sizing: border-box;
}
@keyframes fr {
  100% {
    opacity: 0.8;
  }
}
.findplay .fplay > div:nth-of-type(2) > div > div:hover .re {
  animation: fr 0.8s ease infinite;
}
.findplay .fplay > div:nth-of-type(2) > div > div > a > img {
  width: 100%;
}
.findplay .fplay > div:nth-of-type(2) > div > div > div {
  font-size: 14px;
  height: 45px;
}
.findplay .fplay > div:nth-of-type(2) > div > div > div > p:nth-of-type(2) {
  font-size: 12px;
  color: #a3a3a3;
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
.findplay .fplay > div:nth-of-type(2) > div > div > div > p:nth-of-type(2) > span:nth-of-type(1) {
  line-height: 48px;
  color: #fe5341;
}
.findplay .fplay > div:nth-of-type(2) > div > div > div > p:nth-of-type(2) > span:nth-of-type(2),
.findplay .fplay > div:nth-of-type(2) > div > div > div > p:nth-of-type(2) > span:nth-of-type(3) {
  display: block;
  width: 25px;
  height: 25px;
  float: right;
  text-align: right;
  line-height: 25px;
  margin-top: 10px;
  background-color: salmon;
}
.findplay .fplay > div:nth-of-type(2) > div > div > div > p:nth-of-type(2) > span:nth-of-type(2) {
  background: url(../../img/reply.png) no-repeat 4px 6px;
}
.findplay .fplay > div:nth-of-type(2) > div > div > div > p:nth-of-type(2) > span:nth-of-type(3) {
  background: url(../../img/zan.png) no-repeat 4px 6px;
}
.findplay .fplay > div:nth-of-type(3) {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 50px;
  display: block;
  cursor: pointer;
}
.findplay .fplay > div:nth-of-type(3) > a {
  padding-left: 24px;
  color: #fe5341;
  background: url(../../img/more.png) no-repeat left center;
}
