* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
iframe {
  display: block;
}
main {
  width: 100%;
  margin: 0 auto;
  /* 顶部 */
  /*   // 内容区域 */
}
main .top {
  width: 80%;
  height: 180px;
  margin: 0 auto;
}
main .top .title {
  width: 100%;
  height: 130px;
  font-size: 40px;
  color: #333;
  line-height: 130px;
  text-align: center;
}
main .top .bar {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
}
main .top .bar > li {
  flex: 1;
  text-align: center;
  line-height: 35px;
  color: #a3a3a3;
  font-size: 18px;
  height: 40px;
}
main .top .bar > li:nth-of-type(1) {
  color: #fe5431;
  border-bottom: 3px solid #fe5431;
}
main .content {
  width: 100%;
}
main .content > .content1 {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
main .content > .content1 > ul {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
main .content > .content1 > ul > li {
  width: 23%;
  height: 233px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 17px;
  /* 图片 */
}
main .content > .content1 > ul > li .pic {
  width: 100%;
  height: 130px;
}
main .content > .content1 > ul > li .pic > img {
  width: 100%;
  height: 130px;
}
main .content > .content1 > ul > li .name {
  font-size: 14px;
  color: #333;
  height: 20px;
  padding-left: 10px;
}
main .content > .content1 > ul > li .text {
  font-size: 12px;
  color: #a3a3a3;
  padding-left: 10px;
}
main .content > .content1 > ul > li .goods {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .content > .content1 > ul > li .goods > div {
  width: 30%;
  color: #fe5343;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .content > .content1 > ul > li .goods > div span {
  text-indent: 17px;
  font-size: 14px;
  box-sizing: border-box;
  flex: 1;
}
main .content > .content1 > ul > li .goods > div span:nth-of-type(1) {
  background: url(../../img/喜爱.png) no-repeat left center;
}
main .content > .content1 > ul > li .goods > div span:nth-of-type(1):hover {
  background: url(../../img/aixin.png) no-repeat left center;
}
main .content > .content1 > ul > li .goods > div span:hover {
  cursor: pointer;
}
main .content > .content1 > ul > li .goods > div span:nth-of-type(2) {
  background: url(../../img/reply.png) no-repeat left center;
}
main .nextpage {
  width: 100%;
  height: 30px;
  text-align: center;
  color: #d81e06;
}
main .nextpage:hover {
  cursor: pointer;
}
